<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GETfit</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="isLoggedIn()"><a href="myFitness">myFitness</a></li>
                <li ng-show="isLoggedIn()"><a href="planWorkout">Plan Workout</a></li>
                <li ng-show="isLoggedIn()"><a href="recommendWorkout">Recommend Workout</a></li>
                <li ng-show="isLoggedIn()"><a href="workoutSummary">Workout Summary</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
                <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Logout</a></li>
                <li ng-hide="isLoggedIn()"><a href="/#/login">Log in</a></li>
                <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
            </ul>
        </div>
    </div>

</nav>
