<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>getFit</title>



    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  </head>

  <body ng-app="myFitness">
    <div ng-include src="'/header/header.ejs'"></div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ui-view></ui-view>


            </div>
        </div>
    
        <script type="text/ng-template" id="/myFitness.html">
            <div class="page-header">
                <h1>myFitness Background</h1>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Name: {{master.name || "N/A"}}</h4>
                <h4>Age: {{master.age}}</h4>
                <h4>Height: {{master.heightFt}} ft {{master.heightIn}} ins.</h4>
                <h4>Weight: {{master.weight}} lbs.</h4>
                <h4>BMI: {{master.bmi}}</h4>
                <h4>Fitness Goal: {{master.fitnessGoal}}</h4>
              </div>
            </div>
            <form ng-submit="updateProfile(user)">
                <h3>Update myFitness Background</h3>
                <div class="form-group">
                    <input type="text"
                       class="form-control"
                       placeholder="Name"
                       ng-model="user.name">
                    </input>
                </div>
                <div class="form-group">
                    <input type="number"
                       class="form-control"
                       placeholder="Age"
                       ng-model="user.age">
                    </input>
                </div>
                <div style="float:left;" class="form-group">
                    <select class="form-control" ng-model="user.heightFt">
                        <option value="1">1 ft</option>
                        <option value="2">2 ft</option>
                        <option value="3">3 ft</option>
                        <option value="4">4 ft</option>
                        <option value="5">5 ft</option>
                        <option value="6">6 ft</option>
                        <option value="7">7 ft</option>
                        <option value="8">8 ft</option>
                        <option value="9">9 ft</option>
                        <option value="10">10 ft</option>
                    </select>
                </div>
                <div style="float:right; ">
                    <select class="form-control" ng-model="user.heightIn">
                        <option value="1">1 in</option>
                        <option value="2">2 in</option>
                        <option value="3">3 in</option>
                        <option value="4">4 in</option>
                        <option value="5">5 in</option>
                        <option value="6">6 in</option>
                        <option value="7">7 in</option>
                        <option value="8">8 in</option>
                        <option value="9">9 in</option>
                        <option value="10">10 in</option>
                        <option value="11">11 in</option>
                        <option value="12">12 in</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number"
                       class="form-control"
                       placeholder="Weight"
                       ng-model="user.weight">
                    </input>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="user.fitnessGoal">
                        <option value="General Fitness">General Fitness</option>
                        <option value="Muscle Building">Muscle Building</option>
                        <option value="Weight Loss">Weight Loss</option>
                        <option value="Endurance Training">Endurance Training</option>
                        <option value="Team Sports">Team Sports</option>

                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update myFitness</button>
            </form>
        </script>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="/javascripts/bootstrap.min.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/myFitness.js"></script>
  </body>
</html>
