<div class="col-md-6 col-md-offset-3">
    <div class="page-header">
        <h1>my Workouts</h1>
    </div>

    <div ng-repeat="workout in workouts">
        {{workout.workoutGroup}} - {{workout.exercise1}}
    </div>
        <form ng-submit="addWorkout()">
            <h3>Add up to 3 Groups of Exercises</h3>
            <div class="form-group">
                <input type="text"
                   class="form-control"
                   placeholder="Title"
                   ng-model="title">
                </input>
            </div>
            <div class="form-group">
                <input type="number"
                   class="form-control"
                   placeholder="Sets"
                   ng-model="workoutSets">
                </input>
            </div>
            <div class="form-group">
                <input type="number"
                   class="form-control"
                   placeholder="Reps"
                   ng-model="workoutReps">
                </input>
            </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 1"
           ng-model="exercise1">
        </input>
    </div>
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 2"
           ng-model="exercise2">
        </input>
    </div>
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 3"
           ng-model="exercise3">
        </input>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 4"
           ng-model="exercise4">
        </input>
    </div>
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 5"
           ng-model="exercise5">
        </input>
    </div>
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 6"
           ng-model="exercise6">
        </input>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 7"
           ng-model="exercise7">
        </input>
    </div>
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 8"
           ng-model="exercise8">
        </input>
    </div>
    <div class="form-group">
        <input type="text"
           class="form-control"
           placeholder="Exercise 9"
           ng-model="exercise9">
        </input>
    </div>
</div>
<div class="col-md-6 col-md-offset-3">
    <button type="submit" class="btn btn-primary">Add Workout</button>
    <br><br>
</form>
