<div class="col-md-6 col-md-offset-3">
    <div class="page-header">
        <h1>My Workouts</h1>
    </div>

    <div ng-repeat="workout in workouts">
        {{workout.title}}
            <a href="#/workouts/{{workout._id}}">Information</a>
            <a href="#/deleteWorkout/{{workout._id}}">Delete</a>
            <a href="#/doWorkout/{{workout._id}}">Do Workout</a>
        </span>
    </div>
        <h3>Add up to 3 Groups of Exercises</h3>
    <form ng-submit="addWorkout()">
        <div class="form-group">
            <input type="text"
               class="form-control"
               placeholder="Title"
               ng-model="title">
            </input>
        </div>
        <div class="form-group">
            <input type="number"
               class="form-control"
               placeholder="Sets"
               ng-model="workoutSets">
            </input>
        </div>
        <div class="form-group">
            <input type="number"
               class="form-control"
               placeholder="Reps"
               ng-model="workoutReps">
            </input>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="exercise1">
                <option value="Palms-Up Wrist Curl">Palms-Up Wrist Curl</option>
                <option value="One-Arm Palm-Up Wrist Curl">One-Arm Palm-Up Wrist Curl</option>
                <option value="Palms-Down Wrist Curl">Palms-Down Wrist Curl</option>
                <option value="Bent Over Two-Dumbell Row">Bent Over Two-Dumbell Row</option>
                <option value="One-Arm Dumbell Row">One-Arm Dumbell Row</option>
                <option value="Stiff-Legged Dumbell Deadlift">Stiff-Legged Dumbell Deadlift</option>
                <option value="Two-Arms Triceps Extension">Two-Arms Triceps Extension</option>
                <option value="One-Arm Triceps Extension">One-Arm Triceps Extension</option>
                <option value="Seated Triceps Extension">Seated Triceps Extension</option>
                <option value="Triceps Kickback">Triceps Kickback</option>
                <option value="Lying Tricep Extension">Lying Tricep Extension</option>
                <option value="Dumbell Alternate Bicep Curl">Dumbell Alternate Bicep Curl</option>
                <option value="Standing Inner-Biceps Curl">Standing Inner-Biceps Curl</option>
                <option value="Bicep Curl">Bicep Curl</option>
                <option value="Hammer Curl">Hammer Curl</option>
                <option value="Seated Dumbell Curl">Seated Dumbell Curl</option>
                <option value="Alternate Incline Dumbell Curl">Alternate Incline Dumbell Curl</option>
                <option value="Incline Dumbell Curl">Incline Dumbell Curl</option>
                <option value="Standing One-Arm Dumbell Curl">Standing One-Arm Dumbell Curl</option>
                <option value="Seated Inner Biceps Curl">Seated Inner Biceps Curl</option>
                <option value="Palms-In Shoulder Press">Palms-In Shoulder Press</option>
                <option value="Shoulder Press">Shoulder Press</option>
                <option value="Lateral Raise">Lateral Raise</option>
                <option value="Lying Rear Delt Raise">Lying Rear Delt Raise</option>
                <option value="Upright Row">Upright Row</option>
                <option value="Front Raise">Front Raise</option>
                <option value="Dumbell Shrug">Dumbell Shrug</option>
                <option value="Bench Press">Bench Press</option>
                <option value="Lying Fly">Lying Fly</option>
                <option value="Straight-Arm Dumbell Pullover">Straight-Arm Dumbell Pullover</option>
                <option value="Weighted Crunch">Weighted Crunch</option>
                <option value="Dumbell Side Bend">Dumbell Side Bend</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="exercise2">
                <option value="Palms-Up Wrist Curl">Palms-Up Wrist Curl</option>
                <option value="One-Arm Palm-Up Wrist Curl">One-Arm Palm-Up Wrist Curl</option>
                <option value="Palms-Down Wrist Curl">Palms-Down Wrist Curl</option>
                <option value="Bent Over Two-Dumbell Row">Bent Over Two-Dumbell Row</option>
                <option value="One-Arm Dumbell Row">One-Arm Dumbell Row</option>
                <option value="Stiff-Legged Dumbell Deadlift">Stiff-Legged Dumbell Deadlift</option>
                <option value="Two-Arms Triceps Extension">Two-Arms Triceps Extension</option>
                <option value="One-Arm Triceps Extension">One-Arm Triceps Extension</option>
                <option value="Seated Triceps Extension">Seated Triceps Extension</option>
                <option value="Triceps Kickback">Triceps Kickback</option>
                <option value="Lying Tricep Extension">Lying Tricep Extension</option>
                <option value="Dumbell Alternate Bicep Curl">Dumbell Alternate Bicep Curl</option>
                <option value="Standing Inner-Biceps Curl">Standing Inner-Biceps Curl3</option>
                <option value="Bicep Curl">Bicep Curl</option>
                <option value="Hammer Curl">Hammer Curl</option>
                <option value="Seated Dumbell Curl">Seated Dumbell Curl</option>
                <option value="Alternate Incline Dumbell Curl">Alternate Incline Dumbell Curl</option>
                <option value="Incline Dumbell Curl">Incline Dumbell Curl</option>
                <option value="Standing One-Arm Dumbell Curl">Standing One-Arm Dumbell Curl</option>
                <option value="Seated Inner Biceps Curl">Seated Inner Biceps Curl</option>
                <option value="Palms-In Shoulder Press">Palms-In Shoulder Press</option>
                <option value="Shoulder Press">Shoulder Press</option>
                <option value="Lateral Raise">Lateral Raise</option>
                <option value="Lying Rear Delt Raise">Lying Rear Delt Raise</option>
                <option value="Upright Row">Upright Row</option>
                <option value="Front Raise">Front Raise</option>
                <option value="Dumbell Shrug">Dumbell Shrug</option>
                <option value="Bench Press">Bench Press</option>
                <option value="Lying Fly">Lying Fly</option>
                <option value="Straight-Arm Dumbell Pullover">Straight-Arm Dumbell Pullover</option>
                <option value="Weighted Crunch">Weighted Crunch</option>
                <option value="Dumbell Side Bend">Dumbell Side Bend</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="exercise3">
                <option value="Palms-Up Wrist Curl">Palms-Up Wrist Curl</option>
                <option value="One-Arm Palm-Up Wrist Curl">One-Arm Palm-Up Wrist Curl</option>
                <option value="Palms-Down Wrist Curl">Palms-Down Wrist Curl</option>
                <option value="Bent Over Two-Dumbell Row">Bent Over Two-Dumbell Row</option>
                <option value="One-Arm Dumbell Row">One-Arm Dumbell Row</option>
                <option value="Stiff-Legged Dumbell Deadlift">Stiff-Legged Dumbell Deadlift</option>
                <option value="Two-Arms Triceps Extension">Two-Arms Triceps Extension</option>
                <option value="One-Arm Triceps Extension">One-Arm Triceps Extension</option>
                <option value="Seated Triceps Extension">Seated Triceps Extension</option>
                <option value="Triceps Kickback">Triceps Kickback</option>
                <option value="Lying Tricep Extension">Lying Tricep Extension</option>
                <option value="Dumbell Alternate Bicep Curl">Dumbell Alternate Bicep Curl</option>
                <option value="Standing Inner-Biceps Curl">Standing Inner-Biceps Curl</option>
                <option value="Bicep Curl">Bicep Curl</option>
                <option value="Hammer Curl">Hammer Curl</option>
                <option value="Seated Dumbell Curl">Seated Dumbell Curl</option>
                <option value="Alternate Incline Dumbell Curl">Alternate Incline Dumbell Curl</option>
                <option value="Incline Dumbell Curl">Incline Dumbell Curl</option>
                <option value="Standing One-Arm Dumbell Curl">Standing One-Arm Dumbell Curl</option>
                <option value="Seated Inner Biceps Curl">Seated Inner Biceps Curl</option>
                <option value="Palms-In Shoulder Press">Palms-In Shoulder Press</option>
                <option value="Shoulder Press">Shoulder Press</option>
                <option value="Lateral Raise">Lateral Raise</option>
                <option value="Lying Rear Delt Raise">Lying Rear Delt Raise</option>
                <option value="Upright Row">Upright Row</option>
                <option value="Front Raise">Front Raise</option>
                <option value="Dumbell Shrug">Dumbell Shrug</option>
                <option value="Bench Press">Bench Press</option>
                <option value="Lying Fly">Lying Fly</option>
                <option value="Straight-Arm Dumbell Pullover">Straight-Arm Dumbell Pullover</option>
                <option value="Weighted Crunch">Weighted Crunch</option>
                <option value="Dumbell Side Bend">Dumbell Side Bend</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add Workout</button>

    </form>
