<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>getFit</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/recommendWorkout.js"></script>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  </head>

  <body ng-app="recommendWorkout">
    <div ng-include src="'/header/header.ejs'"></div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ui-view></ui-view>


            </div>
        </div>
        <script type="text/ng-template" id="/recommendWorkout.html">
            <div class="page-header">
                <h1>Hey, This is Steve, the Virtual Fitness Trainer!</h1>
            </div>
            <h3>Enter your preferences and I will plan a workout for you</h3>
            <form ng-submit="recommendWorkout()">
                <div class="form-group">
                    Level
                    <select class="form-control" ng-model="level">
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Expert">Expert</option>
                    </select>
                </div>
                <div class="form-group">
                    Intensity
                    <select class="form-control" ng-model="intensity">
                        <option value="Low">Low</option>
                        <option value="Moderate">Moderate</option>
                        <option value="High">High</option>
                    </select>
                </div>
                <div class="form-group">
                    Goal
                    <select class="form-control" ng-model="repSet">
                        <option value="Maximal Strength">Maximal Strength</option>
                        <option value="Muscle Building">Muscle Buildin</option>
                        <option value="Endurance">Endurance</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text"
                       class="form-control"
                       placeholder="Exercise 1"
                       ng-model="exercise1">
                    </input>
                </div>
                <div class="form-group">
                    <input type="text"
                       class="form-control"
                       placeholder="Exercise 2"
                       ng-model="exercise2">
                    </input>
                </div>
                <div class="form-group">
                    <input type="text"
                       class="form-control"
                       placeholder="Exercise 3"
                       ng-model="exercise3">
                    </input>
                </div>

                <button type="submit" class="btn btn-primary">Recommend Workout</button>

            </form>
        </script>



    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="/javascripts/bootstrap.min.js"></script>-->
  </body>
</html>
